.card-container{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    max-width: 330px;
    min-height: 450px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    margin-top: 1vh;
    word-break: break-word;
}
.card-container:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
}
.card-img{
    width: 100%;
    height: auto;
    max-height: 225px;
    min-height: 225px;
    
}
.card-img > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5rem;
    padding:1rem;
}

.card-title_des > h1{
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 0.2rem;
}
.card-title_des > p{
    font-size: 1rem;
    font-weight: 400;
    color: #000;
    margin-bottom: 0.2rem;
}
.card-info{
    position: absolute;
    bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 0.5rem;
    gap: 10px;
}
.card-btns{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 35px;
    bottom: 20px;
    margin-top: 1rem;
    
}
.card-btn{
    color: #ffffff;
    background-color: #8255D6;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.9rem;
    width: 75px;
    transition: all 0.3s ease-in-out;
    border: none;

}
.card-btn:hover{
    background-color: #6B3FA0;
    transform: scale(1.05);
}
.card-btn-del{
    color: #ffffff;
    background-color: #FF0000;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    font-weight: 700;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
    border: none;
}
.card-btn-del:hover{
    background-color: #B30000;
    transform: scale(1.05);
}
.info{
    font-weight: 400;
    margin-top: 5px;
}